
{% extends 'website/layout.html' %}

{% block body %}



<div class="container-fluid">
    <h2>Experience Data</h2>
    <form class="form-inline my-2 my-lg-0" style="float: right;" method="post" action="{% url 'experience_display'%}">
        {% csrf_token %}
        <label for="form-control mr-sm-2" class="form-label mr-sm-2">Filter By - </label>
        <select class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="field">
            <option value="" selected disabled>Select a field</option>
            
            <option value="undergraduate">Teaching Experience(Undergraduate-in Yrs)</option>
            <option value="postgraduate">Teaching Experience(Postgraduate-in Yrs)</option>
            <option value="teaching_experience">Teaching Experience(in Yrs)</option>
            <option value="research_experience ">Research Experience(in Yrs)</option>
            <option value="specialization">Specialization</option>
            <option value="industry_experience">Industry Experience(in Yrs)</option>
            <option value="pup_teaching_experience">Teaching Experience at PUP(in Yrs)</option>
            
            
           
            

        </select>
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="q">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    {% comment %} <p>List of all the Awarded Candidates.</p>                                                                                       {% endcomment %}
    <div class="table-responsive">    
        {% if filter_field %}
        {% if message %}
            <p>No Records Available</p>
            <a href="{% url 'experience_display'%}">Back to all Records</a>
        {% else %} 
        <h4>Filtered</h4>  
        <div style="padding:2%;float: right;">
            <a class="btn btn-outline-success" href="{% url 'experience_display'%}">Remove Filter</a>
        </div>
        <p>Showing filtered results for <b>{{filter_field}}</b> matching with <b>{{filter_data}}</b></p>          
    <table class="table table-hover" style="margin-top: 2%;">
        <thead>
            <tr>
                <th>Sr.No</th>
                
                
                        <th>Teaching Experience(Undergraduate-in Yrs)</th>
                        <th>Teaching Experience(Postgraduate-in Yrs)</th>
                        <th>Teaching Experience(in Yrs)</th>
                        <th>Research Experience(in Yrs)</th>
                        <th>Specialization</th>
                        <th>Industry Experience(in Yrs)</th>
                        <th>Teaching Experience at PUP(in Yrs)</th>
                        
                        
            </tr>
        </thead>
            <tbody>
                {% for i,experience in filter_experience_list%}
                    <tr>
                        <td>{{i}}</td>
                        
                        <td>{{experience.undergraduate}}</td>
                        <td>{{experience.postgraduate}}</td>
                        <td>{{experience.teaching_experience}}</td>
                        <td>{{experience.research_experience }}</td>
                        <td>{{experience.specialization}}</td>
                        <td>{{experience.industry_experience}}</td>
                        <td>{{experience.pup_teaching_experience}}</td>
                        
                    </tr>
                {% endfor %}
            </tbody>
    </table>
        
              {% if is_head or is_admin %}
        <form action="{% url 'experience_data_download'%}"> 
            <button href="#" type="submit" name="filter_experience" class="btn btn-outline-success">Download Csv</button>
         </form>
         {% endif %}
                
    {% endif %}
        {% else %}
        <table class="table table-hover" style="margin-top: 2%;">
            <thead>
                
                    <tr>
                        <th>Sr.No</th>

                        {% if is_admin or is_head %}
                        <th>Employee Name</th>
                        
                        {% endif %}
                        
                        <th>Teaching Experience(Undergraduate-in Yrs)</th>
                        <th>Teaching Experience(Postgraduate-in Yrs)</th>
                        <th>Teaching Experience(in Yrs)</th>
                        <th>Research Experience(in Yrs)</th>
                        <th>Specialization</th>
                        <th>Industry Experience(in Yrs)</th>
                        <th>Teaching Experience at PUP(in Yrs)</th>
                    </tr>
                
                </thead>
                <tbody>
                    {% for i,experience in experience_list%}
                    <tr>
                        <td>{{i}}</td>
                        {% if is_admin or is_head %}
                        <td>{{ experience.user.employee_name }}</td>
                        {% endif %}
                        
                        <td>{{experience.undergraduate}}</td>
                        <td>{{experience.postgraduate}}</td>
                        <td>{{experience.teaching_experience}}</td>
                        <td>{{experience.research_experience }}</td>
                        <td>{{experience.specialization}}</td>
                        <td>{{experience.industry_experience}}</td>
                        <td>{{experience.pup_teaching_experience}}</td>
                        
                        
                    </tr>
                {% endfor %}
                </tbody>
        </table>
            
             {% if is_head or is_admin %}
        <form action="{% url 'experience_data_download'%}"> 
            <button href="#" type="submit" name="experience" class="btn btn-outline-success">Download Csv</button>
         </form>
         {% endif %}
        {% endif %} 
    </div>
</div>

{% endblock%}