{% extends 'website/layout.html' %} {% block body %}

<script>
  function DeleteAlert() {
    var myText = "Are you sure you want to Delete this item";
    alert(myText);
  }
</script>

<div class="container-fluid">
  <h2>Phds</h2>
  <form
    class="form-inline my-2 my-lg-0"
    style="float: right"
    method="post"
    action="{% url 'phd_display'%}"
  >
    {% csrf_token %}
    <label class="form-label mr-sm-2">Filter By - </label>
    <select
      class="form-control mr-sm-2"
      name="field"
      id="field"
      onchange="Change()"
    >
      <option value="" selected disabled>Select a field</option>
      <option value="scholor_name">Scholor Name</option>
      <option value="department">Department</option>
      <option value="thesis_title">Thesis Title</option>
      <option value="registration_date">Registration Date</option>
      <option value="thesis_awarded_date">Thesis award date</option>
      <option value="enrollment_date">Enrollment date</option>
      <option value="thesis_submission_date">Thesis submission date</option>
      <option value="supervisor_name">Supervisor name</option>
      <option value="co_supervisor_name">Co Supervisor name</option>
      <option value="faculty_title">Faculty title</option>
    </select>
    <input
      class="form-control mr-sm-2"
      type="search"
      placeholder="Search"
      name="q"
      id="data"
    />
    <button class="btn btn-outline-success" type="submit">Search</button>
  </form>

  <p>List of all the Phds Either Applied or Rewarded</p>
  <div class="table-responsive">
    {% if filter_field %}
     {% if message %}
    <p>No Records Available</p>
    <a href="{% url 'phd_display'%}">Back to all Records</a>
    {% else %}
    <h4>Filtered</h4>
    <div style="padding: 2%; float: right">
      <a class="btn btn-outline-success" href="{% url 'phd_display'%}"
        >Remove Filter</a
      >
    </div>
    <p>
      Showing filtered results for <b>{{filter_field}}</b> matching with
      <b>{{filter_data}}</b>
    </p>
    <table class="table table-hover" style="margin-top: 2%">
      <thead>
        <tr>
          <th>Sr.No</th>
          {% if is_admin or is_head %}
          <th>Registered BY Employee name</th>
          {% endif %}
          <th>Scholor Name</th>
          <th>Department</th>
          <th>Thesis Title</th>
          <th>Registration Date</th>
          <th>Thesis award date</th>
          <th>Enrollment date</th>
          <th>Thesis submission date</th>
          <th>Supervisor name</th>
          <th>Co Supervisor name</th>
          <th>Faculty title</th>
         {% if not is_admin and not is_head %}
          <th>Edit / Delete</th>
          {% endif %}
        </tr>
      </thead>
      <tbody>

      
        {% for i, phd in filter_phds_list %}
        <tr>
          <td>{{ i }}</td>
          {% if is_admin or is_head %}
          <td>{{ phd.user.employee_name }}</td>
          {% endif %}
          <td>{{ phd.scholor_name }}</td>
          <td>{{ phd.department }}</td>
          <td>{{ phd.thesis_title }}</td>
          <td>{{ phd.registration_date }}</td>
          <td>{{ phd.thesis_awarded_date }}</td>
          <td>{{ phd.enrollment_date }}</td>
          <td>{{ phd.thesis_submission_date }}</td>
          <td>{{ phd.supervisor_name }}</td>
          <td>{{ phd.co_supervisor_name }}</td>
          <td>{{ phd.faculty_title }}</td>

        {% if not is_admin and not is_head %}
          <td>
            <a href="{% url 'edit_phd' phd.id %}">Edit</a> /
            <a href="{% url 'delete_phd' phd.id %}" onclick="DeleteAlert()"
              >Delete</a
            >
          </td>
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
      {% endif %}
      
    </table>
    
    <form action="{% url 'phd_download'%}">
      <button
        href="#"
        type="submit"
        name="filter_phd"
        class="btn btn-outline-success"
      >
        Download Csv
      </button>
    </form>
    
    {% else %}
  
    <table class="table table-hover" style="margin-top: 2%">
      <thead>
        <tr>
            <th>Sr.No</th>
            {% if is_admin or is_head %}
                <th>Registered BY</th>
            {% endif %}
            <th>Scholor Name</th>
            <th>Department</th>
            <th>Thesis Title</th>
            <th>Registration Date</th>
            <th>Thesis award date</th>
            <th>Enrollment date</th>
            <th>Thesis submission date</th>
            <th>Supervisor name</th>
            <th>Co Supervisor name</th>
            <th>Faculty title</th>
          {% if not is_admin and not is_head %}
                <th>Edit / Delete</th>
            {% endif %}
        </tr>
      </thead>
      <tbody>
        {% for a,phd in phds_list %}
        <tr>
            <td>{{ a }}</td>
            {% if is_admin or is_head %}
                <td>{{ phd.user.employee_name }}</td>
            {% endif %}
            <td>{{ phd.scholor_name}}</td>
            <td>{{ phd.department }}</td>
            <td>{{ phd.thesis_title }}</td>
            <td>{{ phd.registration_date }}</td>
            <td>{{ phd.thesis_awarded_date }}</td>
            <td>{{ phd.enrollment_date }}</td>
            <td>{{ phd.thesis_submission_date }}</td>
            <td>{{ phd.supervisor_name }}</td>
            <td>{{ phd.co_supervisor_name }}</td>
            <td>{{ phd.faculty_title }}</td>

           {% if not is_admin and not is_head %}
            <td>
                <a href="{% url 'edit_phd' phd.id %}">Edit</a> /
                <a href="{% url 'delete_phd' phd.id %}" onclick="DeleteAlert()">Delete</a>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <form action="{% url 'phd_download'%}">
      <button
        href="#"
        type="submit"
        name="phd"
        class="btn btn-outline-success"
      >
        Download Csv
      </button>
    </form>

    {% endif %}
  </div>
  
</div>

{% endblock %}
