{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Register</title>
    <link rel="stylesheet" type="text/css" href="{% static 'website/styles.css' %}">
    <script type="text/javascript">
        function ShowHideDiv() {
            var maritial_status = document.getElementById("maritial_status");
            var spouse_name = document.getElementById("spouse_name");
            spouse_name.style.display = maritial_status.value == "married" ? "block" : "none";
        }
    </script>
    <style>
        .container-fluid{
            padding: 2% 5%;
        }
        .text{
            margin-top: 20%;
        }
        .row{
            height: auto;
        }
        .form_div{
            padding: 10px 10px;
            margin-top: 5%;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        }
        .contents{
            margin-top: 5%;
        }
        .form_group{
            padding: 3% 3%;
        }
        .details{
            padding: 10px 50px;
            margin-top: 5%;
        }
        h1
        {
            padding: 2% 2%;
        }
        
    </style>
</head>
<body>

     {% if messages %}
                {% for message in messages %}
                    <div class="container-fluid p-0">
                      <div class="alert {{ message.tags }} alert-dismissible" role="alert" >
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="True">&times;</span>
                        </button>
                        {{ message }}
                      </div>
                    </div>
                  {% endfor %}
            {% endif %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="text">
                    <center><h1>Think.  </h1></center>
                    <center><h1>Research.  </h1></center>
                    <center><h1>Innovate.  </h1></center>
                </div>  
            </div>
            <div class="col-md-4">
                <div class="form_div">
                    <h5 class="card-title" style="font-size: 4vmax;font-family: open sans,sans-serif;
                    color: #333;margin-top: 5%;margin-left: 5%;">JOIN US</h5>
                    <div class="contents" style="padding: 5% 5%;">
                        <form action="{% url 'register_user' %}" method="post">
                            {% csrf_token %}
                            {% if message %}
                            <div class="form-group">
                                <label for="exampleInputEmail1" style="color: red;">{{message}}</label>
                              </div>
                            {% endif %}
                            <div class="form-group">
                              <label for="exampleInputEmail1">Employer ID</label>
                              <input type="text" class="form-control" required placeholder="Enter your Employer ID" name="employer_id">
                            </div> 
                            <div class="form-group">
                                <label for="exampleInputEmail1">Employer Name</label>
                                <input type="text" class="form-control" required placeholder="Enter Name" name="employer_name">
                              </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Email ID</label>
                                <input type="email" class="form-control" required placeholder="Enter your Email" name="mail_id">
                              </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">AADHAR CARD Number</label>
                                <input type="text" class="form-control" required placeholder="Enter your AADHAR Number" name="aadhar" maxlength="12" minlength="12">
                              </div>

                             {% comment %} <div class="form-group">
                                <label for="exampleInputEmail1">Department name</label>
                                <input type="text" class="form-control" required placeholder="Enter your Department name" name="dept" maxlength="12" >
                              </div>  {% endcomment %}

                              <div class="form-group">
                                <label for="exampleInputEmail1">Department name</label>
                                <select name="dept" id="" class="form-control">
                                     <option value="">Select Department
                                        
                                     </option>
                                    <option value="Department Of Dance">Department Of Dance</option>
                                    <option value="Department Of Gurmat Sangeet">Department Of Gurmat Sangeet</option>
                                    <option value="Department Of Gurmat Gyan Online Study Centre">Department Of Gurmat Gyan Online Study Centre</option>
                                    <option value="Department Of Music">Department Of Music</option>
                                    <option value="Department Of Theatre And Television">Department Of Theatre And Television</option>
                                    <option value="S. Sobha Singh Department Of Fine Arts">S. Sobha Singh Department Of Fine Arts</option>
                                    <option value="Department Of English">Department Of English</option>
                                    <option value="Department Of Foreign Languages">Department Of Foreign Languages</option>
                                    <option value="Department Of Hindi">Department Of Hindi</option>
                                    <option value="Department Of Linguistics And Punjabi Lexicography">Department Of Linguistics And Punjabi Lexicography</option>
                                    <option value="Department Of Persian, Urdu And Arabic">Department Of Persian, Urdu And Arabic</option>
                                    <option value="Department Of Punjabi">Department Of Punjabi</option>
                                    <option value="Department Of Sanskrit And Pali">Department Of Sanskrit And Pali</option>
                                    <option value="Department Of Defence And Strategic Studies">Department Of Defence And Strategic Studies</option>
                                    <option value="Department Of Economics">Department Of Economics</option>
                                    <option value="Department Of History and Punjab Historical Studies">Department Of History and Punjab Historical Studies</option>
                                    <option value="Department Of Philosophy">Department Of Philosophy</option>
                                    <option value="Department Of Political Science">Department Of Political Science</option>
                                    <option value="Department Of Psychology">Department Of Psychology</option>
                                    <option value="Department Of Public Administration">Department Of Public Administration</option>
                                    <option value="Department Of Religious Studies">Department Of Religious Studies</option>
                                    <option value="Department Of Social Work">Department Of Social Work</option>
                                    <option value="Department Of Sociology And Social Anthropology">Department Of Sociology And Social Anthropology</option>
                                    <option value="Women's Studies Centre">Women's Studies Centre</option>
                                    <option value="School Of Social Sciences">School Of Social Sciences</option>
                                    <option value="Department Of Commerce">Department Of Commerce</option>
                                    <option value="Department Of Tourism, Hospitality And Hotel Management">Department Of Tourism, Hospitality And Hotel Management</option>
                                    <option value="School Of Management Studies">School Of Management Studies</option>
                                    <option value="University School Of Applied Management">University School Of Applied Management</option>
                                    <option value="University School of Buisness Studies, Guru Kashi Campus, Talwandi Sabo">University School of Buisness Studies, Guru Kashi Campus, Talwandi Sabo</option>
                                    <option value="Department Of Law, Punjabi University, Patiala">Department Of Law, Punjabi University, Patiala</option>
                                    <option value="Punjab School Of Law">Punjab School Of Law</option>
                                    <option value="Centre for Census Studies and Research">Centre for Census Studies and Research</option>
                                    <option value="Baba Farid Centre for Sufi Studies">Baba Farid Centre for Sufi Studies</option>
                                    <option value="Centre for Diaspora Studies">Centre for Diaspora Studies</option>
                                    <option value="Centre for Development Economics and Innovation Studies (CDEIS)">Centre for Development Economics and Innovation Studies (CDEIS)</option>
                                    <option value="Department Of Sri Guru Granth Sahib Studies">Department Of Sri Guru Granth Sahib Studies</option>
                                    <option value="Department of Punjabi Development Language">Department of Punjabi Development Language</option>
                                    <option value="Institute of Advanced Studies in Comparative Religion Dr. Balbir Singh Kendra, Dehradun">Institute of Advanced Studies in Comparative Religion Dr. Balbir Singh Kendra, Dehradun</option>
                                    <option value="Punjabi Literary Studies">Punjabi Literary Studies</option>
                                    <option value="Research Centre for Technical Development of Punjabi Language, Literature and Culture">Research Centre for Technical Development of Punjabi Language, Literature and Culture</option>
                                    <option value="Prof. Harbans Singh Encylopaedia of Sikhism">Prof. Harbans Singh Encylopaedia of Sikhism</option>
                                    <option value="Department Of Computer Science">Department Of Computer Science</option>
                                    <option value="Department Of Biotechnology & Food Technology">Department Of Biotechnology & Food Technology</option>
                                    <option value="Department Of Botany">Department Of Botany</option>
                                    <option value="Department Of Human Genetics">Department Of Human Genetics</option>
                                    <option value="Department Of Zoology And Environmental Sciences">Department Of Zoology And Environmental Sciences</option>
                                    <option value="Bhagwan Parshuram Chair For Indian Culture and Literature">Bhagwan Parshuram Chair For Indian Culture and Literature</option>
                                    <option value="Bhai Gurdass Chair">Bhai Gurdass Chair</option>
                                    <option value="Bhai Vir Singh Chair">Bhai Vir Singh Chair</option>
                                    <option value="Gurmat Sangeet Chair">Gurmat Sangeet Chair</option>
                                    <option value="Maharishi Valmiki Chair">Maharishi Valmiki Chair</option>
                                    <option value="Maharaja Agrasen Chair">Maharaja Agrasen Chair</option>
                                    <option value="Maharana Pratap Chair">Maharana Pratap Chair</option>
                                    <option value="Shahid Kartar Singh Sarabha Chair">Shahid Kartar Singh Sarabha Chair</option>
                                    <option value="Sri Guru Tegh Bahadur National Integration Chair">Sri Guru Tegh Bahadur National Integration Chair</option>
                                    <option value="Shahid Udham Singh Chair">Shahid Udham Singh Chair</option>
                                    <option value="Guru Gobind Singh Chair">Guru Gobind Singh Chair</option>
                                    <option value="Guru Ravidass Chair">Guru Ravidass Chair</option>
                                    <option value="Prof. Gurdial Singh Chair">Prof. Gurdial Singh Chair</option>
                                    <option value="Centre For Advanced Media Studies">Centre For Advanced Media Studies</option>
                                    <option value="Department Of Education And Community Service">Department Of Education And Community Service</option>
                                    <option value="Department Of Journalism And Mass Communication">Department Of Journalism And Mass Communication</option>
                                    <option value="Department Of Library And Information Science">Department Of Library And Information Science</option>
                                    <option value="Department Of Physical Education">Department Of Physical Education</option>
                                    <option value="Department Of Civil Engineering">Department Of Civil Engineering</option>
                                    <option value="Department Of Computer Science and Engineering">Department Of Computer Science and Engineering</option>
                                    <option value="Department Of Electronics & Communication Engineering">Department Of Electronics & Communication Engineering</option>
                                    <option value="Department Of Mechanical Engineering">Department Of Mechanical Engineering</option>
                                    <option value="Yadavindra Department of Engineering, Talwandi Sabo">Yadavindra Department of Engineering, Talwandi Sabo</option>
                                    <option value="Department Of Pharmaceutical Sciences And Drug Research">Department Of Pharmaceutical Sciences And Drug Research</option>
                                    <option value="Department Of Physiotherapy">Department Of Physiotherapy</option>
                                    <option value="Department Of Sports Science">Department Of Sports Science</option>
                                    <option value="Department Of Chemistry">Department Of Chemistry</option>
                                    <option value="Department Of Forensic Science">Department Of Forensic Science</option>
                                    <option value="Department Of Geography">Department Of Geography</option>
                                    <option value="Department Of Mathematics">Department Of Mathematics</option>
                                    <option value="Department Of Physics">Department Of Physics</option>
                                    <option value="Department Of Statistics">Department Of Statistics</option>
                                    <option value="Biological Sciences">Biological Sciences</option>
                                    <option value="Languages">Languages</option>
                                    <option value="Mathematical and Computational Sciences">Mathematical and Computational Sciences</option>
                                    <option value="Physical and Chemical Sciences">Physical and Chemical Sciences</option>
                                    <option value="Performing and Visual Arts">Performing and Visual Arts</option>
                                    <option value="Social Sciences">Social Sciences</option>
                                    <option value="Centre For Restoration Of Ecosystem Of Punjab (CRESP)">Centre For Restoration Of Ecosystem Of Punjab (CRESP)</option>
                                    <option value="IAS Training Centre">IAS Training Centre</option>
                                    <option value="UGC - Malaviya Mission Teacher Training Centre">UGC - Malaviya Mission Teacher Training Centre</option>
                                    <option value="Unnat Bharat Abhiyan">Unnat Bharat Abhiyan</option>
                                   
                                </select>
                            </div>


                            <div class="form-group">
                                <label for="exampleInputEmail1">Password</label>
                                <input type="password" class="form-control" required placeholder="Password" name="password">
                              </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Confirm Password</label>
                                <input type="password" class="form-control" required placeholder="Confirm Password" name="confirm_password">
                              </div>
                            <div class="form-check">
                              <input type="checkbox" class="form-check-input" id="exampleCheck1" required>
                              <label class="form-check-label" for="exampleCheck1">Check me out</label>
                            </div> 
                            <div class="submit" style="padding:4%">
                                <button type="submit" class="btn btn-primary">Register</button>
                            </div>
                            
                        </form>  
        
                            <div class="create" style="padding: 2%;">
                                <p>Already an Existing Teacher? <a href="{% url 'login_view'%}">Log In</a></p>
                              
                            </div>             
                    </div>
                </div>
            </div>
        </div>
        <!--
        
        
        
        
        
        --> 
        
    </div>
    <div class="footer-dark" style="margin-top: 5%;">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-3 item">
                        <h3>Services</h3>
                        <ul>
                            <li><a href="{% url 'patent_register'%}">Patents</a></li>
                            <li><a href="{% url 'phd_awarded'%}">Ph.D's</a></li>
                            <li><a href="{% url 'research_publication'%}">Research Papers</a></li>
                            <li><a href="{% url 'awards'%}">Awards</a></li>
                            <li><a href="{% url 'books'%}">Books Published</a></li>
                            <li><a href="{% url 'conference'%}">Book Chapters and Conference </a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-3 item">
                        <h3>About</h3>
                        <ul>
                            <li>A forum for uploading the data for NAAC</li>
                        </ul>
                    </div>
                    
                    <div class="col-md-3 item" >
                        <h3>Designed and Developed By</h3>
                        <div style="padding:2%">
                          <h5 style="color: #0f83ff">Hitashu</h5> 
                            <p style="color: #b0b0b0; font-size: 16px; margin-bottom: 5px;">
                  Gmail: <a href="mailto:hitashuh@gmail.com" class="footer-link">hitashuh@gmail.com</a>
              </p>
              <p style="color: #b0b0b0; font-size: 16px;">
                  LinkedIn: <a href="https://www.linkedin.com/in/hitashu-585357354" class="footer-link">View Profile</a>
              </p>
                        </div>
                    </div>
                    <div class="col-md-3 item" >
                      <h3>Under the Guidance of</h3>
                      <div style="padding:2%">
                        <div class="abc">
                          <h6 style="color: #0f83ff">Dr. Gaurav Gupta</h5>
                           
                        </div>
                        <div class="abc" style="margin-top: 2%;">
                          <h6 style="color: #0f83ff">Dr. Pathal</h5>
                           
                        </div>
                        <div class="abc" style="margin-top: 2%;">
                          <h6 style="color: #0f83ff">Dr. Brahmleen Kaur</h5>
                           
                        </div>
                        
                      </div>
                      
                  </div>
                  <hr>
             </div>
                <p class="copyright text-center" style="color:white; font-size: 15px;">
                            <b style="color:white;">Department of CSE, Punjabi University, Patiala © 2025</b>
                        </p>
            </div>
        </footer>
      </div>
</body>
</html>